body {
  background-color: #e8e0fd;
  color: #111;
  display: grid;
  font-family: Roboto, system-ui;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  place-content: center;
}

.grid {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  width: 90vw;
}

.aspect-ratio {
  overflow: hidden;
  padding-top: 100%;
  position: relative;
  padding-top: 100%;
}

.aspect-ratio > * {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.palettes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 3em;
  margin-top:3%;
}

.palette {
  box-shadow: 0.25em 0.25em 2em rgba(0, 0, 0, 0.25);
  border-radius: 0.5em;
  margin: 0;
  overflow: hidden;
}

.palette__caption {
  background-color: #fff;
  font-size: 0.875rem;
  font-weight: 500;
  padding: 1.5em;
  text-align: center;
}
.heading{
  text-align: center;
  padding: 2% 0;
  font-size: 50px;
  font-weight: bold;
}